[Unit]
Description=Docker notifications
After=docker.service network-online.target nss-lookup.target
Requires=docker.service network-online.target nss-lookup.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sh -c 'until host google.com; do sleep 1; done'
ExecStart=/opt/scripts/notification.py --title "Docker up & runing" --message "Docker has been started." --prio 0
ExecStop=/opt/scripts/notification.py --title "Docker stopped" --message "Reboot in progress..." --prio 10

[Install]
WantedBy=multi-user.target
